:root {
	--twitch: #7224a8;
	/* rgb right here, right now */
	--all: #3498db;
	--online: #2ecc71;
	--offline: #e74c3c;
}

/*
var(--twitch);
*/

body {
	background-color: var(--twitch);
}

.main-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#status-box {
	background-color: white;
	color: var(--twitch);
	font-family: "Helvetica Neue";
	padding: 1em;
	width: 50vw;
	border-radius: 10px;
	position: relative;
}

#status-box > div {
	padding-top: 1em;
	padding-bottom: 1em;
}

#logo {
	width: 100%;
	margin: auto;
	display: block;
}

#filters {
	display: flex;
	justify-content: space-around;
}

#filters > div {
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 3em;
	border: 0;
	border-bottom: 3px solid white;
	transition: width 0.3s ease;
	position: relative;
}

#filters > div:hover {
	width: 30%;
}

#filters #all {
	color: var(--all);
	border-bottom-color: var(--all);
}

#filters #online {
	color: var(--online);
	border-bottom-color: var(--online);
}

#filters #offline {
	color: var(--offline);
	border-bottom-color: var(--offline);
}

.min-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
}

#add-holder {
	height: 3em;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#add-holder > i {
	font-size: 40px;
	margin-left: 14px;
	cursor: pointer;
}

#add {
	width: 0;
	height: 1em;
	font-size: 16px;
	color: var(--twitch);
	transition: width 0.3s ease, opacity 0.4s ease, visibility 0.4s ease;
	border: 3px solid var(--twitch);
	border-radius: 5px;
	outline: none;
	padding: 5px;
	opacity: 0;
	visibility: hidden;
}

#add.active {
	opacity: 1;
	visibility: visible;
	width: 180px;
}

.streamer {

}

.streamer img {
	width: 6em;
	height: 6em;

}

.streamer a {

}

.streamer.status {

}