:root {
	--bg: #6441a5;
}

body {
	background-color: var(--bg);
}

.wrapper {
	position: absolute;
	top: 5em;
	left: 50%;
	transform: translate(-50%, -50%);
}

#twitchLogo {
	width: 90vw;
}

#streamers {
	width: 70vw;
	margin: auto;
}

#streamers.streamer img {
	border-radius: 50%;
	border: 3px solid white;
}

#streamers.streamer a {

}

#streamers.streamer.bio {
	font-family: "Helvetica Neue";
	font-weight: 200;
}

#streamers.streamer {
	margin: auto;
}