:root {
	--twitch: #7224a8;
	/* rgb right here, right now */
	--all: #3498db;
	--online: #2ecc71;
	--offline: #e74c3c;
}

/*
var(--twitch);
*/

body {
	background-color: var(--twitch);
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#status-box {
	background-color: white;
	color: var(--twitch);
	font-family: "Helvetica Neue";
	padding-top: 1em;
	padding-bottom: 1em;
	width: 50vw;
	border-radius: 10px;
	position: relative;
}

#logo-holder {
	margin-bottom: 1em;
}

#logo {
	width: 90%;
	margin: auto;
	display: block;
}

#filters {
	display: flex;
	justify-content: center;
}

#filters > div {
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33%;
	height: 3em;
	border: 5px solid transparent;
}

#filters #all {
	border-bottom-color: var(--all);
}

#filters #online {
	border-bottom-color: var(--online);
}

#filters #offline {
	border-bottom-color: var(--offline);
}

.streamer {

}

.streamer img {
	width: 6em;
	height: 6em;

}

.streamer a {

}

.streamer.status {

}